{% extends "base.html" %}  <!-- Extend your base layout -->

{% block content %}
  <h1>{{ library.name }}</h1>
  <p>{{ library.description }}</p>


      <div class="container">
    <h2>Assets</h2>
    <div class="row">

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Button with data-bs-target
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
      {% for asset in page_obj %}
<div class="card" style="width: 18rem;">
  <img src="{{asset.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ asset.Name}}</h5>
    <p class="card-text">{{ asset.description }}</p>
    <a href="{% url 'asset_detail' asset.id %}" class="btn btn-primary">Details</a>
      {% if asset.checkedout %}
            <a href="" class= "btn btn-danger" disabled>checked out</a>
      {% endif %}
  </div>


              <!-- other asset details -->


        </div>
      {% empty %}
        <p>No assets available.</p>
      {% endfor %}
    </div>
  </div>

      <!-- Pagination Controls -->
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}